/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* .caps{
  text-transform: uppercase;
}
.small-size{
  display: none;
}
@media screen and (max-width: 720px) {
  .small-size{
    display: block;
  }
  .big-size{
    display: none;
  }
} */
body{
  overflow-x: hidden;
}
.small-size{
  display: none;
}
@media screen and (max-width:768px) {
  .small-size{
    display: block;
  }
  .big-size{
    display: none;
  }
}
.header__logo img{
  width: 200px;
}
.myvideo{
  width: 100%;
  height: 100%;
}
.mb-100{
  padding-bottom: 50px;
  padding-top: 20px;
}
.logopath{
  width: 50px;
 height: 30px;
}
@media screen and (max-width:900px) {
 .myvideo{
  height: 30rem;
 }
}

